:root {
  --border-radius: 12px;
  --logo-color: #5D5D6D;
  --bg-input-box: #F3F5F6;
  --text-dark: #000000;
  --delete-color: #DE3838;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: rgb(var(--foreground-rgb));
  background: white;
}